.dashboard-layout-content {
    margin-left: 23%;
    margin-bottom: 3rem;
    padding: 150px 80px 50px;
}

.content-top-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px 0;
	align-items: center;
}

.content-top-menu-action {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

@media (min-width: 1536px) {
    .dashboard-layout-content {
        margin-left: 23%;
        margin-bottom: 3rem;
        padding: 150px 60px 50px;
    }

    .content-top-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0;
        align-items: center;
    }

    .content-top-menu-action button{
        font-size: 12px;
        font-weight: 600;
    }
}