.button {
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button .icon {
    background: #fff;
}

/* Button Colors */

.primary {
    background: #35858B;
    border: 1px solid #35858B;
    color: #fff;
}

.secondary {
    border: 1px solid #35858B;
    color: #35858B;
    background: #fff;
}

.danger {
    background: #F36868;
    border: 1px solid #F36868;
    color: #fff;
}

/* Button Effects */

.button.primary:hover {
    background: #006161;
    border: 1px solid #006161;
}

.button.secondary:hover {         
    background: #006161;
    border: 1px solid #006161;
    color: #fff;
}

.button.danger:hover {
    background: #ec5151;
    border: 1px solid #ec5151 ;
    color: #fff;
}

/* Button Sizes */

.small {
    padding: 7px 20px;
    font-size: 12px;
}

.medium {
    padding: 12px 20px;
}

.large {
    padding: 24px 30px;
}

/* Button Style */

.circle {
    /* padding: 23% 20px; */
    padding: 10px 12px;
    border-radius: 50%;
}

.rounded {
    border-radius: 16px;
}
