.admin-home-wrapper {
    width: 75%;
    margin-left: 23%;
    margin-bottom: 3rem;
    padding: 50px 80px;
}

.admin-home-title {
    padding: 20px 0 60px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.admin-home-title h1 {
    font-size: 48px;
    color: #00ADAC;
}

.admin-home-content-wrapper {
    background: #fff;
    width: 100%;
    border-radius: 10px;
}

.admin-home-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
}

/* .dashboard-home-search-wrapper {
    display: flex;
    flex-direction: row;
    gap: 57px;
}

.dashboard-home-search-input {
    width: 640px;
    height: 48px;
    padding: 16px 20px;
    border: 1px solid #D7DEEA;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px
}

.dashboard-home-search-btn {
    height: 48px;
}

.dashboard-home-filter-wrapper label {
    cursor: pointer;
}

#dashboard-home-filter-check {
    position: absolute;
    opacity: 0;
    height: 0px;
}

.dashboard-home-filter-items {
    clear: both;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background: #fff;
}

.dashboard-home-filter-items li {
    padding: 20px 50px;
}

.dashboard-home-filter-items li a {
    text-decoration: none;
    font-size: 16px;
    color: #7E808B;
    font-weight: 700;
}

.dashboard-home-filter-items li hr {
    display: none;
    background: #35858B;
    margin-top: 10px;
}

.dashboard-home-filter-items li a:hover {
    color: #35858B;
}

.dashboard-home-filter-items li a:hover .dashboard-home-filter-items li hr{
    display: block;
}

#dashboard-home-filter-check:checked + .dashboard-home-filter-items {
    height: 200px;
} */