.input-question-wrapper {
    margin-bottom: 80px !important;
}

.question--input-wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.question--input-wrapper label {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.question--action-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.quetion--title-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
