.dashboard-section-wrapper {
    padding: 200px 15vh 50px 15vh;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    min-height: 100vh;
}

.dashboard-banner-wrapper {
    /* background-image: url(/public/assets/image/banner01.png); */
    width: 100%;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 62px;
}

.dashboard-banner-shape {
    box-sizing: border-box;
    width: 50%;
    border-bottom: 280px solid #43E6E6;
    border-right: 230px solid transparent;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: row;
    gap: 62px;
}

.dashboard-sidebar-wrapper{
    height: fit-content;
    width: 19%;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.dashboard-sidebar-header {
    background: #006161;
    width: 100%;
    height: 150px;
}

.dashboard-sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 55px;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    font-size: 24px;
    color: #555555;
}

.dashboard-sidebar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    color: #555555;
}

.dashboard-sidebar-menu img {
    width: 35px;
    height: 35px;
}

.dashboard-sidebar-content .active {
    color: #006161;
    font-weight: bold;
}






