.modal {
	/* visibility: hidden; */
	/* opacity: 0; */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(1, 71, 71, 0.58);
	transition: all 4s;
	z-index: 999;
	overflow: auto;
	padding: 5% 0;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modal::-webkit-scrollbar {
  display: none;
} 

.modal-content {
	width: 600px;
    background: #fff;
    border-radius: 20px;
    padding: 35px 45px;
	position: relative;
}
