/* Section Styling */
.auth-section-wrapper {
	padding: 150px 15vh 50px 15vh;
	display: flex;
}

/* Hero Styling */
.hero-section-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 40px 20px 0;
	width: 55%;
}

.hero-title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-title-heading h1 {
	font-size: 32px;
	font-weight: 700;
	line-height: 46px;
	color: #00adac;
	text-align: center;
}

.hero-title-subheading {
	margin-top: 37px;
}

.hero-title-subheading h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #7e808b;
	text-align: center;
}

.hero-image-wrapper {
	margin-top: 75px;
	/* transform: scale(1); */
}

.hero-image-wrapper img {
	width: 595px;
}

/* Auth Signin Styling */
.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px 20px 40px;
	width: 45%;
}

.auth-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth-title-heading h2 {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	color: #00adac;
	text-align: center;
}

.auth-title-subheading {
	margin-top: 10px;
}

.auth-title-subheading h5 {
	font-size: 20px;
	font-weight: 400;
	line-height: 34px;
	color: #7e808b;
	text-align: center;
}

.auth-form {
	/* width: 100%; */
	margin-top: 50px;
}

.auth-forgot {
	text-align: right;
	font-size: 17px;
}

.auth-alert {
	margin: 20px 0 30px 0;
	margin: 30px 0;
	padding: 20px 20px;
	background: rgba(255, 0, 0, 0.15);
	border-radius: 5px;
	color: #ff4b4b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.auth-button {
	margin-top: 50px;
}

.auth-button button {
	width: 100%;
	min-height: 52px;
}

.auth-text-action {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	color: #555555;
}

.auth-submit-btn {
	margin-bottom: 15px;
}

.auth-sosmed-btn {
	display: flex;
	align-items: center;
}

.auth-code {
	display: flex;
	justify-content: center;
	width: 95%;
	margin: 50px 0;
	gap: 20px;
}

.auth-input-code {
	width: 70px;
	height: 70px !important;
	font-size: 26px !important;
	padding: 26px !important;
	text-align: center;
}
