.psikolog-schedule-wrapper {
	position: relative;
	border-radius: 20px;
	margin-top: 50px;
	padding: 61px 56px;
}

.psikolog-schedule-menu {
	position: absolute;
	right: 50px;
	top: -55px;
	display: flex;
	flex-direction: row;
	gap: 22px;
}

.psikolog-schedule-menu .button {
	width: 200px !important;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	padding: 20px 0;
	border-radius: 20px 20px 0 0;
    background: #F4F4F4;
}

.psikolog-schedule-menu .active {
	color: #006161 !important;
}

.psikolog-schedule-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
