.admin__content--title {
    padding: 20px 0 60px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.admin__content--title h1 {
    font-size: 38px;
}

.admin__content--body {
    margin-top: 50px;
}

.color-admin {
    color: #00ADAC;
}

@media (min-width: 1536px) {
    .admin__content--body {
        margin-top: 0;
    }
}