.admin__content--title {
    padding: 20px 0 60px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.admin__content--title h1 {
    font-size: 38px;
}

.admin__content--body {
    
}

.color-admin {
    color: #00ADAC;
}